.form-section {
	background-color: #1287BF;
	padding: 100px 0 110px 0;
	color: #fff;

	@media (max-width: 767px) {
		padding: 60px 0;
	}

	.title {
		margin-bottom: 12px;
	}

	.btn-down {
		position:relative;
		margin: auto auto 20px;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		border: 2px solid #fff;

		@media (max-width: 767px) {
			width: 55px;
			height: 55px;
		}
	}

	.arrow-down {
		@include centerer-xy();

		.fa {
			font-size: 2.5rem;

			@media (max-width: 767px) {
				font-size: 2rem;
			}
		}
	}
}

.form {
	position: relative;
	width: 67%;
	margin: auto;
	padding: 50px 50px 66px 50px;
	border-radius: 3px;
	color: #828282;
	background-color: #fff;
	text-align: center;

	@media (max-width: 767px) {
		padding: 40px 25px 33px 25px;
		width: 80%;
	}

	@media (max-width: 576px) {
		width: 95%;
	}

	&-container {
		padding-top: 30px;
	}

	&:before {
		@include centerer-x();

		content: '';
		border: 30px solid transparent;
		border-bottom: 30px solid #fff;
		top: -59px;
	}

	&__close-button {
		position: absolute;
		right: -25px;
		top: -25px;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
		background-color: #de2b24;
		color: #fff;
		font-size: 1.7rem;
		text-align: center;
		transition: 0.3s;

		&:hover {
			background: lighten(#de2b24, 10%);
		}

		@media (max-width: 576px) {
			display: none;
		}
	}

	&__text {
		margin-bottom: 33px;
		font-size: 0.9375rem;
		line-height: 1.5;
	}

	&__fields {
		margin-bottom: 36px;
	}

	&__input {
		width: 76%;
		display: block;
		padding: 18px 20px;
		margin: auto auto 8px auto;
		border-radius: 5px;
		border: 1px solid #d8d8d8;
		font-size: 0.875rem;

		&:focus {
			box-shadow: 0 0 3px 1px #2AA9E1;
		}

		@media (max-width: 992px) {
			width: 90%;
		}

		@media (max-width: 767px) {
			width: 100%;
		}

		@media (max-width: 576px) {
			margin: auto auto 14px auto;
		}
	}

	.button {
		border: none;
		padding: 15px 30px;

	}
}













