.hero {
	min-height: 59px;
	padding: 174px 0;
	text-align: center;
	color: #fff;
	background: #ccc url('../img/hero-bg.jpg') center/cover no-repeat;

	&__about {
		font-family: $ff-main-bold;
		font-size: 3rem;
		line-height: 1;

		@media (max-width: 576px) {
			font-size: 2rem;
		}
	}

	&__title {
		margin-top: 10px;
		margin-bottom: 27px;
		font-size: 1.8rem;
		font-family: $ff-main-light;

		@media (max-width: 576px) {
			font-size: 1.3rem;
		}
	}

	.button--text-uppercase {
		padding: 21px 41px;
		border-radius: 3px;
		font-size: 1rem;
		font-family: $ff-main;
		letter-spacing: 1.2px;

		@media (max-width: 576px) {
			padding: 16px 36px;
		}
	}
}