section.about
	.container
		.title.title--with-bottom-line
			h2.title.title__header About Us
			.title__text We are added out major Services

		ul.about__list
			li.about__item
				img(src="img/items/1.png" alt="icons" class="about__icons")
				h3.about__header Facebook Marketing
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit qui cum beatae. Praesentium est expedita ipsum, reprehenderit numquam eligendi corporis quia eum placeat consectetur ea nesciunt exercitationem quaerat esse, mollitia.

			li.about__item
				img(src="img/items/2.png" alt="icons" class="about__icons")
				h3.about__header Landing pages Creation
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit qui cum beatae. Praesentium est expedita ipsum, reprehenderit numquam eligendi corporis quia eum placeat consectetur ea nesciunt exercitationem quaerat esse, mollitia.

			li.about__item
				img(src="img/items/3.png" alt="icons" class="about__icons")
				h3.about__header Ads management
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit qui cum beatae. Praesentium est expedita ipsum, reprehenderit numquam eligendi corporis quia eum placeat consectetur ea nesciunt exercitationem quaerat esse, mollitia.