section.approach
	.container
		.title.title--with-bottom-line
			h2.title.title__header Our Approach
			p.title__text Check Our approaches step by step <br>( how we do it )

		ul.approach__list
			li.approach__item
				.approach__image
					img.approach__picture(src="img/step-1.jpg" alt="picture")
					.approach__step step
				.approach__text
					.approach__title Step 1 : Heading Here
					p.approach__description.
						 Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми, заголовок океана города. Взобравшись за, скатился обеспечивает коварный ведущими безопасную, возвращайся раз, страну подзаголовок маленький журчит речью, текстами несколько.

			li.approach__item
				.approach__image
					img.approach__picture(src="img/step-2.jpg" alt="picture")
					.approach__step step
				.approach__text
					.approach__title Step 2 : Heading Here
					p.approach__description.
						 Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми, заголовок океана города. Взобравшись за, скатился обеспечивает коварный ведущими безопасную, возвращайся раз, страну подзаголовок маленький журчит речью, текстами несколько.

			li.approach__item
				.approach__image
					img.approach__picture(src="img/step-3.jpg" alt="picture")
					.approach__step step
				.approach__text
					.approach__title Step 3 : Heading Here
					p.approach__description.
						 Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми, заголовок океана города. Взобравшись за, скатился обеспечивает коварный ведущими безопасную, возвращайся раз, страну подзаголовок маленький журчит речью, текстами несколько.

			li.approach__item
				.approach__image
					img.approach__picture(src="img/step-4.jpg" alt="picture")
					.approach__step step
				.approach__text
					.approach__title Step 4 : Heading Here
					p.approach__description.
						 Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми, заголовок океана города. Взобравшись за, скатился обеспечивает коварный ведущими безопасную, возвращайся раз, страну подзаголовок маленький журчит речью, текстами несколько.