section.content
	.swiper-container
		.swiper-wrapper
			.swiper-slide(style='background: rgba(0, 0, 0, 0) url("../img/slider/1.jpg") no-repeat scroll center center / cover')
			.swiper-slide(style='background: rgba(0, 0, 0, 0) url("../img/slider/2.jpg") no-repeat scroll center center / cover')
			.swiper-slide(style='background: rgba(0, 0, 0, 0) url("../img/slider/3.jpg") no-repeat scroll center center / cover')
		.swiper-button-next.is-hidde.swiper-button-white
		.swiper-button-prev.is-hidde.swiper-button-white