section.footer
	.container
		.footer__content
			.logo: img(src="img/logo.gif")
			.nav
				a(href="#") Home
				a(href="#") About Us
				a(href="#") Our Work
				a(href="#") Contacts
			input(type="search" placeholder="Search...")