header.header
	.container
		.header__menu
			.header__burger
				#burger
					.bar.topBar
					.bar.btmBar
			.header__icon

			.header__logo
				img.logo__picture(src="img/logo.png" alt="logotype")

			ul.nav
				li.nav__link.nav__link--active(href="#"): a.nav__name Home
				li.nav__link.nav__link(href="#"): a.nav__name About us
				li.nav__link.nav__link(href="#"): a.nav__name Our work
				li.nav__link.nav__link(href="#"): a.nav__name Contacts

			.header__button
				a.button.button__red(href="#") Free Consultation