header.header
	.container
		.header__menu

			.header__logo
				img.logo__picture(src="img/logo.png" alt="logotype")

			nav.nav
				a.nav__link.nav__link--active(href="#") Home
				a.nav__link.nav__link(href="#") About us
				a.nav__link.nav__link(href="#") Our work
				a.nav__link.nav__link(href="#") Contacts

			.header__button
				a.button.button__red(href="#") Free Consultation