section.info
	.container
		.about
			h2.title About Us
			p.info__text ASP.NET Core is a new open-source and cross-platform .NET framework for building modern cloud-based web applications on Windows, Mac, or Linux.
			.about__content
				.items
					img(src="img/items/1.png")
					p.name Alexander Semenov
					span.about__worker Professional website development: design development. HTML layout, landing on CMS WordPress, Joomla, PHP programming, JavaScript.
					a.button.button__red More detailed
				.items
					img(src="img/items/2.png")
					p.name Kirill Semenov
					span.about__worker Professional website development: design development. HTML layout, landing on CMS WordPress, Joomla, PHP programming, JavaScript.
					a.button.button__red More detailed
				.items
					img(src="img/items/3.png")
					p.name Mariya Grigorieva
					span.about__worker Professional website development: design development. HTML layout, landing on CMS WordPress, Joomla, PHP programming, JavaScript.
					a.button.button__red More detailed