section.our-work
	.container
		h2.our-work__title Our work
		p.our-work__text ASP.NET is an open-source server-side web application framework designed for web development to produce dynamic web pages. It was developed by Microsoft to allow programmers to build dynamic web sites, web applications and web services.
		.our-work__table
			table
				tr
					th Company
					th Q1
					th Q2
					th Q3
					th Q4
				tr
					td Microsoft
					td 20.3
					td 30.5
					td 23.5
					td 40.3
				tr
					td Google
					td 50.2
					td 40.63
					td 45.23
					td 39.3
				tr
					td Apple
					td 25.4
					td 30.2
					td 33.2
					td 36.7
				tr
					td IDM
					td 20.4
					td 15.6
					td 22.3
					td 29.3